<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/lodash@4.17.20"></script> -->
    <title>Travel App</title>
</head>
<body>
    
</body>
</html>
<body>
    <h1>To which city/town are you traveling</h1>
    <form name="collect info" type="submit" class="form">
        <!-- <label>Enter word:</label> -->
        <input id="destination" type="text" name="english-word" value="Guadalajara">
        <h1>?</h1>

        <h1>When is your departure date</h1>
        <input id="travel-date" type="text" name="english-word" value="10/12/2025">
        <h1>?</h1>
        <button id="btn" type="button">Get Data</button>
    </form>
    <section class="geo-info-container">
        <div id="geo-info">
        </div>
    </section>
    <section class="countdown-container">
        <div class="countdown">
            <h1 id="remaining-time"></h1>
        </div>
    </section>
    <section class="weather-container">
        <div class="current-weather">
            <h3 id="locale"></h3>
        </div>
        <div class="forecast">
            <ul id="day-1">
                <li id="day-1-max"></li>
                <li id="day-1-min"></li>
            </ul>
        </div>
    </section>
    <section class="img-container">
        <div id="img-frame"><div>

        </div>
    </section>

    <script src="main.js"></script>
    <!-- <script type="module" src="app.js"></script> -->
</body>
</html>