/*------- VARIABLES -------*/

// ------- COLOR PALETTE -------//
$main-dark: rgb(0, 0, 0);
$main-light: rgb(255, 255, 255);
$main-accent: rgb(82, 206, 189);
* {
    padding: 1em;
}

body {
    // background-color: violet;
}

h1 {
    color: rgb(82, 206, 189);
    opacity: 0.4;
    text-align: center;
    font-size: 3.5rem;
}

// ----- PRELIMINARY PRINT FORMATTING ----- //
@media print {
    .section-container {
                border: fuchsia;
                color: fuchsia;
            }

    header, footer, form {
        display: none;
    }
}

@page {
    margin: 2cm;
}

