@import 'base';

/* --------------- TABLET AND MOBILE --------------- */
@media (min-width: 400px) and (max-width: 992px) {
    /* Container */
    .wrapper {
        padding: 0;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 80px auto auto 140px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd hd hd"
        "if if if if if if if if if if if if"
        "cd cd cd cd cd cd cd cd cd cd cd cd"
        "tl tl tl tl tl tl tl tl tl tl tl tl"
        "tl tl tl tl tl tl tl tl tl tl tl tl"
        "cf cf cf cf cf cf cf cf cf cf cf cf"
        "wr wr wr wr wr wr wr wr wr wr wr wr"
        "pl pl pl pl pl pl pl pl pl pl pl pl"
        "f f f f f f f f f f f f";
    }

    /* Trip Length Section */
    #trip-list-wrapper {
        transform: translateY(-6vh);
    }
}

/* --------------- DESKTOP --------------- */
@media (min-width: 993px) and (max-width: 1200px) {
    /* -----No Change----- */
    }

/* --------------- LARGE SCREEN/TV --------------- */
@media (min-width: 1201px) and (max-width: 1920px) {
       /* -----No Change----- */
    }