/*------- VARIABLES -------*/

// ------- COLOR PALETTE -------//
$main-dark: rgb(0, 0, 0);
$main-light: rgb(255, 255, 255);
$main-accent: rgb(82, 206, 189);

body {
    // background-color: violet;
}


// ----- PRELIMINARY PRINT FORMATTING ----- //
@media print {
    .section-container {
                border: fuchsia;
                color: fuchsia;
            }

    header, footer, form {
        display: none;
    }
}

@page {
    margin: 2cm;
}

