@import 'base'; 

.section-container_countdown {
    grid-area: cd;
    background-image: url('../media/icons/steampunk-clock_image_15.png');
    background-size: cover;

    #countdown-toggler {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: $semi-trans_persian-green_no3;
    }
        .countdown {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 1;
            background-color: transparent;

        .countdown-quantifiers {
            font: {
                family: 'TerraIgnota'
            }
        }

        #countdown-to-text {
            font: {
                family: 'Fredericka the Great';
                size: 1.75em;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            align-items: center;
        }

        ul.hidden {
            display: none;
        }
    }

        li {
            background-color: $semi-trans_persian-green_no3;
            border: none;
            border-radius: 6px;
        }
        
        .countdown-digits {
            font: {
                family: 'monospace';
                // family: 'Fredericka the Great';
                size: 3rem;
            }
            color: $main-dark;
        }

        #countdown-background {
            background-color: $semi-trans_main-light;
        }

        #remaining-time {
            ul {
                padding:0;
                margin: 0;
            }
        }
}