@import 'base';

.section-container_footer {
    grid-area: f;
    background-color: transparent;
}

#footer-wrapper {
    background-color: $trans-background_green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0.25em;
    
    font: {
        family: 'Fredericka the Great';
        size: 1em;
    }

    .footer-credits {
        background-color: $semi-trans_main-light;
        max-height: 140px;
        padding: 1em;
        border-radius: 4px;
        color: $main-dark;
    }

    img {
        width: 100%;
        height: auto;
    }
}

#copyright {
    border-radius: 0;
    background-color: $main-light;
    margin: 0;
    padding: 0.25em;

    font: {
        family: 'Fredericka the Great';
    }
}

@media (min-width: 400px) and (max-width: 610px) {
    .footer-credits {
        font: {
            size: 0.5em;
        }
    }
}

@media (min-width: 610px) and (max-width: 784px) {
    .footer-credits {
        font: {
            size: 0.75em;
        }
    }
}