@import 'base';

.section-container_header {
    grid-area: hd;
}

#header {
    h1 {
        font: {
            family: 'Fredericka the Great';
            size: 4em;
        } 
    }
    color: $main-dark;

    background-color: $semi-trans_main-light;
}
