@import 'base';

.wrapper {
    padding: 0;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto 140px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ef ef ef ef ef ef ef ef ef ef ef ef"
    "if if if if if if cd cd cd cd cd cd"
    "if if if if if if cd cd cd cd cd cd"
    "cf cf cf cf wr wr wr wr tl tl tl tl"
    "cf cf cf cf wr wr wr wr pl pl pl pl"
    "f f f f f f f f f f f f";
}

// ------------------ TYPOGRAPHY -------------------------//
h1 {
    font: {
        size: 4rem;
        family: 'Fredericka the Great';
    }
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 3.5rem;
    margin: 0;
}

h3 {
    padding: 0.75em;

    font: {
        family: 'Fredericka the Great', sans-serif;
    }
}

h4 {
    font-size: 3em;
    margin: 0.25em;
}

// ------------------------ GLOBAL STYLE/FORMAT -------------------------//
body {
    background-color: $main-light;
    width: 100vw;
    margin: 0;
}

div {
    padding: 1em;
}

section {
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
}

li {
    background-color: $main-light;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 4px;
}

button {
    padding: 1em;
    min-width: 300px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    background-color: $button-color;
    transition: ease-out 0.4s;
    font: {
        family: 'Fredericka the Great', sans-serif;
        size: 1em;
    }
}

button:hover {
    color: $main-dark;
    background-color: $main-light;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.95);
    transition: ease-in 0.2s;
}

// -------------------- STATE-SPECIFIC-GLOBAL STYLE/FORMAT ---------------------------//
.hidden {
    display: none;
}

.input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    margin: auto;
    width: 60%;
    font: {
        family: 'TerraIgnota', sans-serif;
    }
}

.input::placeholder {
    color: rgba(143, 94, 31, 0.4);
}

.input:focus {
    outline: 6px solid $maize-crayola;
}