
ul {
    list-style-type: none;
    margin: 0;
    padding: inherit;

    li {
        list-style-type: none;
    }
}

div {
    padding: 0;
}

h4 {
    font-family: monospace, sans-serif;
    font-size: 2em;
    padding: 1em;
}
