@import 'base';

.wrapper {
    padding: 0;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto 140px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ef ef ef ef ef ef ef ef ef ef ef ef"
    "if if if if if if cd cd cd cd cd cd"
    "if if if if if if cd cd cd cd cd cd"
    "cf cf cf cf wr wr wr wr tl tl tl tl"
    "cf cf cf cf wr wr wr wr pl pl pl pl"
    "f f f f f f f f f f f f";
}

.section-container_img-facts {
    grid-area: if;
    background-color: $trans-background_maize-crayola;

}

.section-container_entry-form {
    margin: 25em;
    margin-top: 2em;
    grid-area: ef;
    background-color: $trans-background_green;

    h3 {

        font: {
            family: 'Fredericka the Great', sans-serif;
        }
        color: $main-light;
        background-color: $main-dark;
    }

    #user-entry {
        display: flex;
        flex-direction: column;
        background-color: $trans-background_aqua;
        margin: auto;

        input {
            margin-bottom: 1em;
            font: {
                family: 'TerraIgnota'
            }
        }

        button {
            margin-bottom: 1em;
            background-color: $maize-crayola;
        }

        #user-entry.hidden {
            display: none;
        }
    }
}

.section-container_weather {
    grid-area: wr;
    background-color: $trans-background_green;

    .current-weather {
        background-color: $trans-background_aqua;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
        text-align: center;
    }


    #forecast {
        display: flex;
        padding: 1em;
        border-radius: 2px;
        background-color: rgba(255, 102, 0, 0.1);
        justify-content: space-between;
        text-align: center;
        overflow: scroll;

            li {
                border-radius: 2px;
                background-color: $main-light;
                width: 12vw;
                box-shadow: $parchment-box-shadow;
            }

            #btm-weather-cell {
                min-height: 12vh;
            }
    }

    #forecast::-webkit-scrollbar {
        display: none;
    }
}

.section-container_countdown {
    grid-area: cd;
    background-image: url('../media/icons/steampunk-clock_image.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .countdown {
        z-index: 1;
        background-color: transparent;

        ul {
            padding: 0;
        }
    }

    li {
        background-color: rgba(253, 246, 226, 0.75);
    }
    
    .countdown-digits {
        font: {
            family: 'Fredericka the Great';
            size: 3rem;
        }
        color: $main-light;
    }

    #countdown-background {
        background-color: rgba(150, 56, 28, 0.8);
    }

    #remaining-time {
        ul {
            padding:0;
            margin: 0;
        }
    }

}

.section-container_facts {
    grid-area: cf;
    background-color: $trans-background_test-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    
    ul {
        padding-left: 0;
    }
        li {
            box-shadow: $parchment-box-shadow;
        }
}

.section-container_pack-list {
    grid-area: pl;
    background-color: $trans-background_aqua;
    display: flex;
    align-items: center;
    justify-content: center;

        #pack-list-btn {
            min-width: 80%;
            background-color: $semi-trans_persian-green_no2;
            font: {
                size: 1.5em;
                family: 'Fredericka the Great', sans-serif;
                weight: bold;
            }
            color: $main-light;
        }
        
        #pack-list-btn:hover {
                background-color: $semi-trans_persian-green;
        }
}

.section-container_trip-length {
    grid-area: tl;
    background-color: $trans-background_green;

    #trip-length_header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: rgba(119, 36, 4, 0.3);
        background-color: rgba(158, 19, 61, 0.3);
        width: 100%;
        // background-color: rgba(245, 245, 245, 0.6);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    }

    #trip-range {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $trans-background_test-color;
    }

        #trip-length-list {
            transform: translateY(06vh);
            padding-left: 0;
            width: 94%;

            ul {
                padding: 0;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: $parchment-box-shadow;
                width: 100%;
            }
        }
}

.section-container_header {
    grid-area: hd;
    background-color: $main-light;
    h1 {
        color: $main-dark;
    }
}

.section-container_footer {
    grid-area: f;
    background-color: $trans-background_green;

}

body {
    font: {
        family: 'TerraIgnota';
        size: 18px;
    }
    background-color: $main-light;
    color: #444;
    width: 100vw;
    margin: 0;
}

button {
    padding: 1em;
    width: 180px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    background-color: $border-color;
    transition: ease-out 0.4s;
}

div {
    padding: 1em;
}

button:hover {
    color: $main-dark;
    background-color: $main-light;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.95);
    transition: ease-in 0.2s;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    background-color: $main-light;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 4px;
}

section {
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);

}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: center;
    justify-content: center;
}



.close {
    float: right;
    padding: 0.4em;
    border: solid rgba(128, 128, 128, 0.4);
}

#country-photo {
    box-shadow: 1px 1px 19px 5px rgba(88, 37, 37, 0.9);
}


.hidden {
    display: none;
    // background-color: chartreuse;
}

.input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    margin: auto;
    width: 60%;
}

.input::placeholder {
    color: rgba(143, 94, 31, 0.4);
}

.input:focus {
    outline: 6px solid $maize-crayola;
        // border-radius: 8px;
}


#flag {
    width: 50%;
    height: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 5vh; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
  }
  
  .modal-content {
    margin: auto;
    background-image: url('../media/icons/vintage-notebook_CROPPED.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.25em;
    border: 1px solid #888;
    overflow: hidden;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    h3 {
        margin-left: 2em;
        font-size: 3em;
        padding: 0;
        margin:  0 0 0 1em;
    }
   

    /* The Close Button */
    .close {
        position: relative;
        color: $main-dark;
        font-size: 48px;
        font-weight: bold;
        padding:0 0.175em;
        border-color: $main-dark;
    }

        .close:hover,
        .close:focus {
            background-color: $trans-background_persian-green;
            color: $main-light;
            border-color: $semi-trans_persian-green;
            text-decoration: none;
            cursor: pointer;
        }
        #pack-list-form {
            box-shadow: none;

            .input#input {
                margin-left: 1em;
                max-width: 45%;
                background-color: $semi-trans_main-light;
            }
            
            .input#input:focus {
                outline-color: $maize-crayola;
                outline: {
                    border-radius: 16px;
                }
            }
        }

        #pack-list-item {
            background-color: transparent;
            border-color: transparent;
            padding: 0 0 0 1.5em;
            margin-left: 1rem;
            width: 45%;
            font: {
                size: 2em;
            }
        }
  }

li.checked-off {
    color: #b6b6b6;
    text-decoration: line-through;
}
